.navbar{
    width: 100%;
    background-color: rgb(22, 2, 32);
    display: flex;
    justify-content: space-between;
    height: 5vh;
    padding-top: 2.5vh;
}
.poisk{
    height: 40px;
    width: 700px;
    margin-top: -5px;
    border-radius: 12px;
}
.neon{
    background-color: rgb(161, 1, 247);
    height: 1px;
    margin-top: 0px;
    border: none;
}
body{
    background-color: rgb(14, 17, 22);
    font-family: Arial, Helvetica, sans-serif;
}
.logo{
    font-size: 40px;
    color: rgb(255, 255, 255);
    margin-top: -13px;
    margin-left: 40px;
}
.t{
    font-size: 24px;
    color: rgb(255, 255, 255);
}
.lk{
    font-size: 24px;
    margin-right: 40px;
    color: rgb(255, 255, 255);
}
.footer{
    background-color: rgb(35, 3, 53);
    width: 100%;
    height: 16vh;
    flex-direction: row;
    display: flex;
    font-size: 20px;
    margin-top: -5px;
}
.text1{
    color: aliceblue;
    margin-left: 50px;
    margin-top: 10px;
}
.text2{
    color: aliceblue;
    margin-left: 1100px;
    margin-top: 10px;
}
.tf1{
    font-size: 25px;
}
.haracter{
    color: rgb(138, 138, 138);
    margin-top: 8vh;
    font-size: 20px;
    margin-left: 200px;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.ifonee{
    width: 25%;
    margin-left: 700px;
    margin-top: 50px;
    border: solid 3px rgb(161, 1, 247);
    border-radius: 15px;
}
h2{
    color: white;
}
.kupit{
    width: 180px;
    height: 4vh;
    margin-left: 700px;
    font-size: 18px;
    border-radius: 7px;
    background-color: rgb(108, 21, 155);
    color: aliceblue;
}
.hartext{
    width: 900px;
    line-height: 180%;
}
.korzina{
    height: 30px;
    margin-left: 30px;
}
a{
    color: aliceblue;
    text-decoration: none;
}
a:visited {
    color: aliceblue;
}
.knopki{
    display: flex;
    justify-content: space-around;
    width: 1000px;
    margin-left: -500px;
    margin-top: 30px;
}
.otz1{
    width: 350px;
    height: 350px;
    border: rgba(54, 0, 83, 1) 3px solid;
    border-radius: 20px;
    color: aliceblue;
    font-size: 20px;
    background-color: rgba(24, 1, 36, 0.23);
}
.alex{
    margin-top: 15px;
    margin-left: 15px;
}
.otzyv{
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin-left: 170px;
    margin-bottom: 100px;
    margin-top: 50px;
}
.ot{
    margin-left: 20px;
    margin-top: 15px;
    margin-right: 20px;
}
.nazvot{
    margin-left: 200px;
    font-size: 28px;
    margin-top: 120px;
}